* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.box{
    text-align: center;
}

h1{
    font-weight: bold;
    font-size: 4rem;
    color: greenyellow;
    margin-bottom: 20px;
}

p{
    font-size: 1.5rem;
    color: blueviolet;
}