@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.app {
    min-height: 100vh;
    background: #000;
    padding: 40px 20px;
    text-align: center;
}

.title {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-weight: 600;
}

.btn {
    padding: 12px 30px;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    background: white;
    color: green;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 600;
    margin-bottom: 40px;
}

.btn:hover {
    background: #f1f1f1;
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95);
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1100px;
    margin: 0 auto;
}

.card {
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
    text-align: left;
}

.card:hover {
    transform: translateY(-5px);
}

.card-id {
    color: green;
    margin-bottom: 10px;
    font-weight: 600;
}

.card p {
    margin: 5px 0;
    color: #333;
}

.card span {
    font-weight: 600;
    color: #000;
}